body{
    background-image: url('church2.jpg');
}
div{
    background-color: rgba(97, 26, 128, 0.599);
    color:aliceblue;
justify-items:center;
align-content:center;
margin-top:200px;
border:solid 3px white;
display:block;
width:400px;
height:300px;
border-radius:8px;
text-transform: capitalize;

}
input{
    background-color:white;
    border-radius:10px;
    height:30px;
    margin-left:20px;
    padding:4px;
    text-align: center;
    text-transform: capitalize;
color:black;
}
a{
    color:white;
text-decoration: none;
border-radius:8px;
border:2px solid white; 
margin:5px;
padding-top:10px;
padding-bottom:10px;
padding-left:25px;
padding-right:25px;
text-align:left;

}
a:hover{
background:white;
background-color:black;
padding-top:10px;
padding-bottom:10px;
}

